@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    
}

/* headings and logo */

h1, h2, h3{
    font-family: Open Sans Condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    display: block;
    float: left;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid rgba(121,88,12,0.7);
}

.active{
    border-bottom: 1px solid rgba(121,88,12,0.7);
}

/* landing page image */

#landing-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#landing-page-image{
    height: 600px;
    width: 100%;
    background: url('../images/landingp-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: landing-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for landing page image */

@keyframes landing-zoom{
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.2);

    }
}

/* landing page image cover text */

#cover-text, #cover-text p{
    color: #fff;
    text-align: center;
}

#landing{
    color: #fff;
}

#cover-text{
    font-size: 130%;
    font-family: Open Sans Condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    margin-bottom: 40px;
    margin-right: 100px;

    padding-top: 40px;
    padding-left: 20px;    

    background-color: rgba(121,88,12,0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* expertise section */

#expertise{
    height: 650px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-about{
    width: 33%;
    margin: 0 auto;
    
}

hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 80px;
}

.right-about-heading{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2{
    text-align: right;
}

.right-about-heading p{
    text-align: right;
}

.left-about-heading h2{
    text-align: left;
}

.left-about-heading p{
    text-align: left;
}

#about{
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
    color: #252525;
    text-shadow: 2px 2px 7px #777;
}

.title{
    text-align: center;
}

#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
       
    margin: 0 auto;
    
}

#circle-cover-bg {
    background: url(../images/expertise2-image.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.3);
    background-clip: content-box;
    padding: 1px;       

}

/* certification and insurance */

#certifications{
    height: 600px;

    background: url('../images/certifications-image.jpg') no-repeat center center;
    height: 100%;      

}

#certifications-heading{
    text-align: center;
    margin: 0;
    font-size: 280%;
    color: #252525;
    text-shadow: 2px 2px 7px #777;
    line-height: 75px;
}

.title-two{
  text-align: center;
}

#certifications-list{
  
    width: 300px;
    height: 400px;

    margin-bottom: 40px;
    margin-right: 50px;
    

    padding-top: 40px;
    padding-left: 10px;    

    background-color: rgba(121,88,12,0.7);

    position: relative;
    bottom: 30px;
    left: 150px;
    top: 20px; 
  
}

#check-list{
    color: #fff;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style-type: none;
}

/* equipment */

#equipment{
    height: 600px;    
}

#equipment-heading{
  text-align: center;
  margin: 0;
  font-size: 280%;
  color: #252525;
  text-shadow: 2px 2px 7px #777;
  line-height: 75px;
}

#left-drone{
    float: left;
    padding-top: 3px;
    width: 33%;         
}

#left-drone, #right-drone, #center-drone h2, p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#right-drone{
    float: right;
    padding-top: 3px;
    width: 33%;
    text-align: center;
}

#center-drone{
    width: 33%;
    margin: 0 auto;
    text-align: center;
}

.circle{
  border-radius: 50%;
  box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.3);
  background-clip: content-box;
  padding: 1px; 
}

  
/* footer */

  footer{
    height: 150px;    
      
  }

  footer p{    
    text-transform: uppercase;    
  }

  footer a{
    text-decoration: none;
    color: rgba(121,88,12,0.7);
  }

  footer h2{
    margin-top: 40px;
    text-align: center; 
    margin-bottom: -50px;        
  }

  .social-networks{
    text-align: center;
    margin-top: 1px;
  }

  .social-networks li{
    display: inline;
  }

  .social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
      
  }

  .top{
    margin-top: -50px;
  }

  /* projects we had done */

   #projects{
    clear: both;
    margin: 20px;       
  }

   #projects-title{
     text-align: center;
     margin: 20px 0;
     font-size: 280%;
     color: #252525;
     text-shadow: 2px 2px 7px #777;
  }


    .column-one, .column-two{
      column-count: 3;
      column-gap: 25px;
      margin-bottom: 25px;
    
  }

    .column-one p, .column-two p{
      margin: auto;
    
  }

    .column-one img, .column-two img{
    width: 100%
    
  }

  
  /* projects promo section statistics */
  
  #promo-statistics{
    height: 150px;
    background-color: rgba(121,88,12,0.7);
    margin-top: 30px;   
    
}

  .promo-one{
     display: inline-block;
     width: 24%;
     text-align: center;
     margin-right: -18px;
}

.promo-one h3{
    
    font-family: Open Sans Condensed, sans-serif;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    line-height: 75px;
    margin: auto        
}

.numbers{
  color: #fff;
}

/* gallery */

#photos{
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > .image{
  position: relative;  
}

.text p{
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  width: 400px;
  height: 50px;
  color: #fff;
}   

 /* contact page background image and contact form */
  
 #contact-page{
    clear: left;
    background: url('../images/contact-page-image.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    opacity: 0.8;    

}

  .contact-form{
    margin: 35px;
    margin-top: 60px;
    color: #fafafa;
    background-color: rgba(121,88,12,0.7);
    width: 500px;
    position: absolute;
    left: 5%;
    padding: 25px;
    font-family: Open Sans Condensed, sans-serif;
}

  .contact-form > h2{
    color: #fafafa;
    margin-bottom: 20px;
}

  .contact-form > textarea{
  height: 50px;
  
}


  .text-input{
    background: transparent;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
}

   .send-button{
    
        margin-top: 20px;
        border-radius: 2px;
        padding: 15px 32px 15px 32px;
        text-align: center;
        font-size: 100%;
        background-color: #3a3a3a;
        color: #fafafa;
        display: block;
        font-family: Open Sans Condensed, sans-serif;
}

/* company details at contact page */

#company-details{
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#company-details h2{
  text-align: center;
}

/* media queries */

/* for larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {

  /* about page */
  #expertise{
    width: 85%;
    height: 1250px;
    margin: 0 auto;
  }

  #about{
    padding: 30px 0;
    margin: 0;
  }

  #left-about, #right-about{
    width: 100%;
    float: left;
    padding: 0;
  }

  #center-about{
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
  }

  hr{
    display: none;
  }

  #center-about{
    padding-top: 40px;
  }

  .left-about-heading, .right-about-heading{
    width: inherit;
  }

  .left-about-heading h2, .right-about-heading h2{
    width: 100%;
    text-align: center;
  }

  .left-about-heading p, .right-about-heading p{
    text-align: center;
    padding: 0 20px;
  }

  .title{
    margin-bottom: 30px;
  }

  #left-drone p, #right-drone p, #center-drone p{
    padding-left: 30px;
    padding-right: 30px;

  }

  #left-drone, #right-drone, #center-drone{
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
  }

    
}

/* for medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
  /* about page */
  #menu{
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #cover-text{
    right: 0;
  }
  
  #expertise{
    width: 85%;
    height: 1000px;
    margin: 0 auto;
  }

  #about{
    margin-bottom: 0;
    padding: 10px;
  }

  .left-about-heading, .right-about-heading{
    width: inherit;
  }

  .left-about-heading h2, .right-about-heading h2{
    width: 100%;
    text-align: center;
  }

  .left-about-heading p, .right-about-heading p{
    text-align: center;
    padding: 0 20px;
  }

  #center-about{
    padding-top: 40px;
  }

  #certifications-heading{
    float: left;
    margin-left: 40px;
  }

  .title-two{
    float: left;
    margin-left: 60px;

  }

  #certifications-list{
    margin-top: 90px;
  }

  /* gallery page */
  #photos{
    column-count: 2;
  }  

  .text p{
    display: none;
  }

  /* projects page */
  #projects{
    height: 700px;
  }

  #projects p{
    font-size: small;
  }
  
}

/* for medium to small screen sizes from 830px wide and down */

@media screen and (max-width: 830px) {
  
  /* about page */
  #expertise{
    height: 1150px;
  }

  #center-about{
    padding: 0;
  }

  #certifications{
    height: 800px;
  }

  #certifications-list{
    margin-top: 150px;
  }

  footer{
    padding: 0;
  }

  footer h2{
    margin-bottom: 0;
  }
  
  .top{
    margin-top: 0
  }

  /* projects page */
  #projects{
    height: 1500px;
    overflow: scroll;
    width: 100%;
  }

  .column-one, .column-two{
    column-count: 1;
    height: auto;
    padding-right: 50px;
  }

  .column-one p, .column-two p{
    margin-bottom: 20px;
    line-height: 20px;
  }

  /* Gallery page */
  #photos{
    margin-left: 20px;
    margin-right: 20px;
  }

}

/* for small screen sizes from 470px wide and down */

@media screen and (max-width: 470px) {
  /* about page */

  #landing-page-image{
    height: 600px;
    width: 100%;
    background: url('../images/landing-page-mobile.jpg') no-repeat center center;
  

  }

  #logo{
    line-height: 50px;
    text-align: center;
  }

  #menu{
    margin-left: 80px;
  }

  #cover-text{
    width: 200px;
    height: 300px;
    margin-right: 50px;
    margin-bottom: 100px;
  }

  #expertise{
    height: 1150px;
  }

  
  #circle-container{
    display: none;
  }

  .left-about-heading{
    margin-bottom: 20px;
  }

  .right-about-heading{
    margin-bottom: 20px;
  }

  #certifications{
    height: 700px;
    background: url('../images/certifications-image.jpg') no-repeat center center;
    height: 100%; 
  }

  #certifications-list{
    position: inherit;
    background: none;
    
    
  }

  #certifications-heading{
    margin: 5px;
  }

  .title-two{
    margin: 5px;
  }

  .circle{
    width: 100px;
    height: 100px;
    margin-right: 15px;
  }

  #left-drone, #right-drone{
    padding-left: 0;
  }

  #left-drone h2, #right-drone h2, #center-drone h2{
    margin-top: 10px;
  } 

  #left-drone p, #right-drone p, #center-drone p{
    padding-left: 32px;
    padding-right: 34px;
  }

  .title{
    margin-bottom: 0;
  }

  .social-networks{
    height: 100px;
    margin: auto;
    font-size: 20px;
    
  }

  .social-networks li{
    height: 10px;
  }

  footer > h2{
    display: none;
  }

  /* project page */

  #projects{
    margin-left: 0;
  }

.column-one, .column-two{
  margin: 10px;
  padding-right: 0;
}

  #promo-statistics{
    height: 200px;
    display: table-row;
  }

  .promo-one h3{
    line-height: 20px;
  }

  .promo-one{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }

  footer{
    height: auto;
  }

  /* Gallery */

  #photos{
    column-count: 1;
    margin: 10px;
  }

    /* Contact form */
.contact-form{
  width: 200px;
  margin-left: 6%;
}

}




  

