@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Oswald, sans-serif;
    font-weight: 300px;
    color: #3a3a3a;
    
}

/* headings and logo */

h1, h2{
    font-family: Open Sans Condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    display: block;
    float: left;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid rgba(121,88,12,.7);
}

.active{
    border-bottom: 1px solid rgba(121,88,12,.7);
}

/* landing page image */

#landing-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#landing-page-image{
    height: 600px;
    width: 100%;
    background: url('../images/landingp-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: landing-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for landing page image */

@keyframes landing-zoom{
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.2);

    }
}

/* landing page image cover text */

#cover-text, #cover-text p{
    color: #fff;
    text-align: center;
}

#landing{
    color: #fff;
}

#cover-text{
    font-size: 130%;
    font-family: Open Sans Condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    margin-bottom: 40px;
    margin-right: 100px;

    padding-top: 40px;
    padding-left: 20px;    

    background-color: rgba(121,88,12,.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* expertise section */

#expertise{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-about{
    width: 33%;
    margin: 0 auto;
    
}

hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 80px;
}

.right-about-heading{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2{
    text-align: right;
}

.right-about-heading p{
    text-align: right;
}

.left-about-heading h2{
    text-align: left;
}

.left-about-heading p{
    text-align: left;
}

#about{
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
    color: #252525;
    text-shadow: 2px 2px 7px #777;
}

.title{
    text-align: center;
}

#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
       
    margin: 0 auto;
    
}

#circle-cover-bg {
    background: url(../images/expertise2-image.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.3);
    background-clip: content-box;
    padding: 1px;       

}

/* certification and insurance */

#certifications{
    height: 600px;

    background: url('../images/certifications-image.jpg') no-repeat center center;
    height: 100%;      

}

#certifications-heading{
    text-align: center;
    margin: 0;
    font-size: 280%;
    color: #252525;
    text-shadow: 2px 2px 7px #777;
    line-height: 75px;
}

#certifications-list{
  
    width: 300px;
    height: 400px;

    margin-bottom: 40px;
    margin-right: 50px;
    

    padding-top: 40px;
    padding-left: 10px;    

    background-color: rgba(121,88,12,.7);

    position: relative;
    bottom: 30px;
    left: 150px;
    top: 20px; 
  
}

#check-list{
    color: #fff;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style-type: none;
}

/* equipment */

#equipment{
    height: 600px;    
}

#equipment-heading{
  text-align: center;
  margin: 0;
  font-size: 280%;
  color: #252525;
  text-shadow: 2px 2px 7px #777;
  line-height: 75px;
}

#left-drone{
    float: left;
    padding-top: 3px;
    width: 33%;         
}

#left-drone, #right-drone, #center-drone h2, p{
    text-align: center;
}

#right-drone{
    float: right;
    padding-top: 3px;
    width: 33%;
    text-align: center;
}

#center-drone{
    width: 33%;
    margin: 0 auto;
    text-align: center;
}

.circle{
  border-radius: 50%;
  box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.3);
  background-clip: content-box;
  padding: 1px; 
}

  /* Pricing Card */

  #pricing{
    clear: both;
    height: 400px;
    background-color: rgba(121,88,12,.7);    
}

  #card{
     margin: auto;
     padding: 20px;  
     width: 30%;       
     margin-top: 40px;  
}

  #card, h3, li{
     text-align: center;
    
}

  #card h3{
     font-size: 150%;
}

  .delivery-package{
     list-style-type: none;
     font-size: 150%;
}

/* footer */

  footer{
    height: 200px;    
      
  }

  .footer{
    margin-top: 20px;
    text-align: center;         
  }

  .social-networks{
    text-align: center;
    margin-top: 1px;
  }

  .social-networks li{
    display: inline;
  }

  .social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
      
  }

  
